<footer class="footer navbar fixed-bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <small>Developed by Ironhack :)</small>
        </div>
      </div>
    </div>
  </footer>
